
# Local MongoDB
MONGO_URI=mongodb+srv://fanusaiba17_db_user:ZyrahIqraah1219@decidr.cxeafpk.mongodb.net/?appName=DECIDR

# MongoDB Atlas (cloud) — uncomment and use this instead if using Atlas
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/decidr?retryWrites=true&w=majority

JWT_SECRET=decidr-super-secret-jwt-key-change-in-production
PORT=5000
CLIENT_URL=http://decidr-dusky.vercel.app

VITE_API_URL=https://decidr-uyet.onrender.com